<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      .text{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1><%= t "mailer.hello" %> <%= @order.user.name %></h1>
    <p>
      <%= t "mailer.welcome" %>
    </p>
    <p>
      Your order was updated, please see detail at <%= link_to "Here", orders_url %>
    </p>
  </body>
</html>
